<script>
  import Logo from './Logo.svelte'
  import { activeSeries } from '../store'
</script>

<div class="wrapper">
  <div class="content">
    <div class="title">{$activeSeries.zigmundCta}</div>
    <div class="subtitle">{$activeSeries.zigmundCtaSubline}</div>
    <div class="cta">
      <a href="https://zigmund.online/psikhoterapiya-vidy-tipy-podkhody" class="button" target="_blank">Подобрать психолога</a>
      <div class="logoContainer">
        <Logo />
        <div class="text">Ваш личный психолог онлайн</div>
      </div>
    </div>
  </div>
</div>

<style>
  .wrapper {
    margin-top: 80px;
  }
  .content {
    border-top: 1px solid #ffffff;
    border-bottom: 1px solid #ffffff;
  }
  .title {
    font-size: 32px;
    line-height: 150%;
    text-align: center;
    margin-top: 40px;
  }
  .subtitle {
    font-weight: 300;
    font-size: 21px;
    line-height: 150%;
    text-align: center;
    margin-top: 4px;
  }
  .cta {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
    margin-bottom: 60px;
  }
  .button {
    background: #00f0f0;
    border-radius: 8px;
    font-size: 16px;
line-height: 19px;
color: #000000;
margin-right: 32px;
padding: 16px 54px;
  }
  .button:hover{
    background: #70FFFF;
  }
  .text {
    font-size: 12px;
    line-height: 150%;
    color: #b8b8b8;
    white-space: nowrap;
  }

  a {
    text-decoration: none;
  }
  @media screen and (max-width: 768px) {
    a {
      display: flex;
      align-items: center;
      justify-content: center;
    }
    .wrapper {
      margin: 64px 0 0 0;
    }
    .text {
      margin-left: 32px;
    }
  }
  @media screen and (max-width: 425px) {
    .wrapper {
      margin: 41px 0 0 0;
    }
    a {
      display: flex;
      flex-direction: column;
    }
    .text {
      margin-top: 16px;
      margin-left: 0;
    }
    .title{
      font-size: 21px;
line-height: 150%;
margin-top:24px;
    }
    .subtitle{
      font-size: 16px;
line-height: 150%;
margin-top: 16px;
    }
    .cta{
      flex-direction: column;
      margin-bottom: 24px;
      margin-top: 32px;
      padding: 0 16px;
    }
    .logoContainer{
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-top: 40px;
    }
    .text{
      margin-top: 0;
    }
    .button{
      margin-right: 0;
    }
  }
</style>
