<svg width="91" height="23" viewBox="0 0 91 23" fill="none" xmlns="http://www.w3.org/2000/svg">
  <g clip-path="url(#clip0_74_353)">
    <path
      d="M0 9.5833C0 7.08644 0 5.83798 0.317161 4.82513C0.989468 2.6781 2.65971 0.996308 4.79201 0.319353C5.79791 0 7.03779 0 9.51751 0C12.9892 0 14.7251 0 16.1333 0.447094C19.1185 1.39483 21.4568 3.74933 22.3981 6.75518C22.8421 8.17318 22.8421 9.92098 22.8421 13.4167C22.8421 15.9136 22.8421 17.162 22.525 18.1749C21.8526 20.3219 20.1824 22.0037 18.0501 22.6807C17.0442 23 15.8043 23 13.3246 23C9.85287 23 8.11707 23 6.70881 22.5529C3.72359 21.6052 1.38525 19.2506 0.444025 16.2449C0 14.8268 0 13.079 0 9.5833Z"
      fill="#0169ED"
    />
    <path
      d="M12.4971 18.6379C10.5101 18.6379 9.51662 18.6379 9.08798 18.2005C8.81784 17.9249 8.66591 17.5531 8.66504 17.1651C8.66366 16.5496 9.36787 15.8416 10.7763 14.4255L14.3093 10.8734C15.7092 9.46596 16.4091 8.76221 17.0168 8.76564C17.3999 8.7678 17.7668 8.92189 18.0385 9.19472C18.4695 9.62761 18.4695 10.6253 18.4695 12.6208V16.1729C18.4695 17.0972 18.4695 17.5594 18.2719 17.9032C18.1444 18.1249 17.9619 18.3094 17.7424 18.4382C17.4022 18.6379 16.9448 18.6379 16.03 18.6379H12.4971Z"
      fill="black"
    />
    <path
      d="M10.533 4.40332C12.5199 4.40332 13.5133 4.40332 13.9421 4.83046C14.2122 5.09963 14.3641 5.46292 14.365 5.84178C14.3663 6.44298 13.6622 7.13455 12.2537 8.51772L8.72069 11.9872C7.32079 13.362 6.62085 14.0493 6.01315 14.0459C5.63013 14.0438 5.26326 13.8933 4.99159 13.6268C4.56055 13.204 4.56055 12.2295 4.56055 10.2804V6.81099C4.56055 5.90813 4.56055 5.4567 4.75817 5.12091C4.88565 4.90428 5.06813 4.72419 5.28762 4.59837C5.62785 4.40332 6.08525 4.40332 7.00003 4.40332H10.533Z"
      fill="black"
    />
    <path
      d="M28.2781 8.69025L32.8016 3.33979H28.4525V2.11182H34.4803V3.20822L29.9567 8.55868H34.5238V9.78665H28.2781V8.69025Z"
      fill="#0169ED"
    />
    <path d="M36.9204 2.11182H38.2284V9.78665H36.9204V2.11182Z" fill="#0169ED" />
    <path
      d="M44.5049 9.95148C43.7782 9.95148 43.1242 9.77972 42.5429 9.4362C41.9615 9.09266 41.5038 8.61755 41.1694 8.01087C40.8424 7.4042 40.679 6.72077 40.679 5.9606C40.679 5.1858 40.846 4.49507 41.1804 3.88839C41.5219 3.28172 41.9906 2.8066 42.5865 2.46307C43.1896 2.11952 43.8727 1.94775 44.6357 1.94775C45.2752 1.94775 45.8529 2.07201 46.3689 2.32053C46.8847 2.56174 47.3062 2.90893 47.6332 3.36211C47.9675 3.80799 48.1855 4.3233 48.2872 4.90805H46.9356C46.7975 4.35984 46.5251 3.92859 46.1181 3.61429C45.7111 3.29999 45.2134 3.14284 44.6248 3.14284C44.1161 3.14284 43.662 3.26344 43.2622 3.50465C42.8699 3.74586 42.561 4.08209 42.3357 4.51334C42.1177 4.93728 42.0088 5.42336 42.0088 5.97156C42.0088 6.52707 42.1214 7.02045 42.3467 7.45171C42.5719 7.88296 42.8844 8.21919 43.2841 8.4604C43.691 8.70161 44.1488 8.82221 44.6575 8.82221C45.2969 8.82221 45.8456 8.63948 46.3034 8.27401C46.7685 7.90123 47.0628 7.41516 47.1863 6.8158H44.7011V5.71938H48.3418V9.78704H47.23V8.69065C46.9247 9.09266 46.5396 9.40328 46.0745 9.62261C45.6167 9.84185 45.0935 9.95148 44.5049 9.95148Z"
      fill="#0169ED"
    />
    <path
      d="M51.0911 2.11182H53.2711L55.5165 8.27362L57.7511 2.11182H59.8984V9.78665H58.6231V3.17533L56.2468 9.78665H54.7427L52.3664 3.17533V9.78665H51.0911V2.11182Z"
      fill="#0169ED"
    />
    <path
      d="M65.9468 9.95108C65.2638 9.95108 64.6642 9.80853 64.1483 9.52354C63.6323 9.23114 63.2326 8.82182 62.9492 8.29554C62.6658 7.76927 62.5242 7.15528 62.5242 6.45359V2.11182H63.8322V6.43165C63.8322 7.14797 64.0175 7.7108 64.3881 8.12012C64.7659 8.52213 65.2855 8.72314 65.9468 8.72314C66.608 8.72314 67.124 8.52213 67.4946 8.12012C67.8725 7.7108 68.0615 7.14797 68.0615 6.43165V2.11182H69.3694V6.45359C69.3694 7.15528 69.2277 7.76927 68.9443 8.29554C68.6682 8.82182 68.2722 9.23114 67.7562 9.52354C67.2402 9.80853 66.6371 9.95108 65.9468 9.95108Z"
      fill="#0169ED"
    />
    <path
      d="M71.9971 2.11182H73.3813L77.5343 7.88987V2.11182H78.7551V9.78665H77.3817L73.2505 3.99763V9.78665H71.9971V5.94924V2.11182Z"
      fill="#0169ED"
    />
    <path
      d="M83.8819 2.11182C84.703 2.11182 85.4298 2.27262 86.062 2.59423C86.6942 2.90853 87.181 3.35806 87.5226 3.94281C87.8714 4.52025 88.0457 5.18906 88.0457 5.94924C88.0457 6.7021 87.8714 7.37091 87.5226 7.95565C87.181 8.5331 86.6942 8.98262 86.062 9.3042C85.4298 9.62583 84.703 9.78665 83.8819 9.78665H81.4512V5.94924V2.11182H83.8819ZM83.8819 8.55868C84.456 8.55868 84.9574 8.45269 85.3861 8.24072C85.8148 8.02875 86.1419 7.72541 86.3671 7.3307C86.5997 6.936 86.7159 6.47551 86.7159 5.94924C86.7159 5.42296 86.5997 4.96247 86.3671 4.56776C86.1419 4.17306 85.8148 3.86972 85.3861 3.65775C84.9574 3.44578 84.456 3.33979 83.8819 3.33979H82.7592V8.55868H83.8819Z"
      fill="#0169ED"
    />
    <path
      d="M90.1827 9.88555C89.9502 9.88555 89.754 9.80514 89.5942 9.64432C89.4416 9.48351 89.3652 9.28615 89.3652 9.05229C89.3652 8.81838 89.4452 8.62468 89.6051 8.47118C89.765 8.31038 89.9575 8.22998 90.1827 8.22998C90.4153 8.22998 90.6079 8.31038 90.7604 8.47118C90.9203 8.62468 91.0003 8.81838 91.0003 9.05229C91.0003 9.28615 90.9203 9.48351 90.7604 9.64432C90.6079 9.80514 90.4153 9.88555 90.1827 9.88555Z"
      fill="#0169ED"
    />
    <path
      d="M31.7017 21.4236C30.9532 21.4236 30.2737 21.2519 29.6633 20.9084C29.0602 20.5575 28.5842 20.0787 28.2354 19.4721C27.8939 18.858 27.7231 18.1746 27.7231 17.4217C27.7231 16.6689 27.8939 15.9892 28.2354 15.3824C28.5842 14.7685 29.0602 14.2897 29.6633 13.9461C30.2737 13.5953 30.9532 13.4199 31.7017 13.4199C32.4502 13.4199 33.1259 13.5953 33.7291 13.9461C34.3395 14.2897 34.8155 14.7685 35.157 15.3824C35.5058 15.9892 35.6802 16.6689 35.6802 17.4217C35.6802 18.1746 35.5058 18.858 35.157 19.4721C34.8155 20.0787 34.3395 20.5575 33.7291 20.9084C33.1259 21.2519 32.4502 21.4236 31.7017 21.4236ZM31.7017 20.1957C32.2031 20.1957 32.6536 20.0751 33.0533 19.8339C33.4603 19.5926 33.78 19.2637 34.0125 18.8471C34.245 18.4232 34.3614 17.948 34.3614 17.4217C34.3614 16.8955 34.245 16.424 34.0125 16.0074C33.78 15.5835 33.4603 15.2509 33.0533 15.0097C32.6536 14.7685 32.2031 14.6478 31.7017 14.6478C31.2003 14.6478 30.7461 14.7685 30.3392 15.0097C29.9395 15.2509 29.6234 15.5835 29.3909 16.0074C29.1656 16.424 29.053 16.8955 29.053 17.4217C29.053 17.948 29.1656 18.4232 29.3909 18.8471C29.6234 19.2637 29.9395 19.5926 30.3392 19.8339C30.7461 20.0751 31.2003 20.1957 31.7017 20.1957Z"
      fill="#0169ED"
    />
    <path
      d="M38.1318 13.584H39.5162L43.6691 19.362V13.584H44.89V21.2588H43.5165L39.3854 15.4698V18.3643V21.2588H38.1318V13.584Z"
      fill="#0169ED"
    />
    <path d="M47.5862 13.584H48.8942V20.0089H52.8182V21.2588H47.5862V13.584Z" fill="#0169ED" />
    <path d="M54.8755 13.584H56.1836V21.2588H54.8755V13.584Z" fill="#0169ED" />
    <path
      d="M58.8799 13.584H60.2642L64.4172 19.362V13.584H65.6379V21.2588H64.2645L60.1333 15.4698V18.3643V21.2588H58.8799V13.584Z"
      fill="#0169ED"
    />
    <path
      d="M68.3345 13.584H73.0734V14.7461H69.6207V16.8403H72.1713V18.0025H69.6207V20.0966H73.2504V21.2588H68.3345V13.584Z"
      fill="#0169ED"
    />
  </g>
  <defs>
    <clipPath id="clip0_74_353">
      <rect width="91" height="23" fill="white" />
    </clipPath>
  </defs>
</svg>
