<script context="module">
  let audioElement;
  export const playSound = async (unlock) => {
    try {
      audioElement.muted = true
      audioElement.play()
      audioElement.pause()
      audioElement.muted = false
      audioElement.currentTime = 0
    } catch (err) {
      // nothing to do
    }

    if (unlock) return
    audioElement.play()
  }

  export const stopSound = () => {
    audioElement.pause()
  }
</script>

<script>
  import { onMount } from 'svelte'

  let isAudioUnlocked = false
  const unlockAudio = () => {
    if (isAudioUnlocked) return
    playSound(true)
    isAudioUnlocked = true
    document.body.removeEventListener('click', unlockAudio)
    document.body.removeEventListener('touchstart', unlockAudio)
  }
  onMount(() => {
    document.body.addEventListener('click', unlockAudio, true)
    document.body.addEventListener('touchstart', unlockAudio, true)
    return () => {
      document.body.removeEventListener('click', unlockAudio)
      document.body.removeEventListener('touchstart', unlockAudio)
    }
  })
</script>

<!-- svelte-ignore a11y-media-has-caption -->
<audio bind:this={audioElement} preload loop>
  <source
    src={'https://screenlifevideoplatform.blob.core.windows.net/interactive/sins-sound-loop2.mp3'}
    type="audio/mpeg"
  />
</audio>
