<script>
    import {fade} from 'svelte/transition'
    import {isPolicyOpen} from '../store'
  const openPolicy = (e)=>{
    e.preventDefault();
    $isPolicyOpen=true;
  }
  let isCookieAccepted = localStorage.getItem('isCookieAccepted')
  const accept = ()=>{
    isCookieAccepted = true;
    localStorage.setItem('isCookieAccepted', 'true')
  }
</script>

{#if !isCookieAccepted}
  <div class="cookieContainer" out:fade|local>
    <div class="cookie">
      <div class="text">
        Мы и наши партнеры используем файлы cookie на нашем сайте для персонализации контента и рекламы, предоставления
        функций социальных сетей и анализа нашего трафика. Продолжая просмотр страниц сайта, вы принимаете условия его
        использования. Более подробные сведения можно посмотреть в политике конфиденциальности.
        <!-- <a href="/" on:click={openPolicy}></a>Политике конфиденциальности.</a> -->
      </div>
      <div class="acceptContainer"><button class="accept" on:click={accept}>Принимаю</button></div>
    </div>
  </div>
{/if}

<style>
  .accept {
    font-size: 12px;
    line-height: 14px;
    color: white;
    background-color: black;
    border: none;
    outline: none;
    padding: 6px 16px;
    cursor: pointer;
  }
  .accept:hover{
    background-color: rgba(0,0,0,0.8);
  }
  .cookieContainer {
    position: fixed;
    bottom: 10px;
    left: 0;
    width: 100%;
    padding: 0 16px;
    box-sizing: border-box;
    z-index: 100;
  }
  .cookie {
    background: #FFFFFF;
    border-radius: 8px;
    max-width: 940px;
    margin: 0 auto;
    display: flex;
    
    padding: 24px 40px;
    box-sizing: border-box;
    align-items: center;

  }
  .text {
    font-size: 12px;
    line-height: 14px;

    color: #1A1A1A;
    margin-right: 16px;
  }
  .text a {
    color: black;
    text-decoration: underline;
  }
  .text a:visited {
    color: black;
  }
  .text a:hover{
    color: black;
  }
  @media screen and (max-width: 650px) {
    .cookie{
      flex-direction: column;
    }
    .text{
      margin-right: 0;
      margin-bottom: 16px;
    }
    .accept, .acceptContainer{
      width: 100%;
      max-width: 200px;
    }
  }
</style>
