<script>
  import {slide} from 'svelte/transition'
  import Logo from './Logo.svelte'
  import Burger from './Burger.svelte'
  import Close from './Close.svelte'
  let isMobileMenuOpen = false
  const toggleMobileMenu = () => {
    isMobileMenuOpen = !isMobileMenuOpen
  }
  function preventDefault(e) {
    e.preventDefault()
  }
  $: if (isMobileMenuOpen) {
    document.body.addEventListener('touchmove', preventDefault, { passive: false })
  } else {
    document.body.removeEventListener('touchmove', preventDefault)
  }
</script>

<header>
  <div class="container">
    <Logo />
    <div class="menu">
      <a href="https://dreamapp.screenlife.com/" target="_blank">
        <div class="mainText">Dreamapp</div>
      </a>
      <a href="https://screenlifer.com/category/projects/" target="_blank">
        <div class="mainText">Проекты</div>
      </a>
      <a href="https://screenlifer.com/category/tools/" target="_blank">
        <div class="mainText">Школа</div>
      </a>
      <a href="https://screenlifer.com/o-nas/" target="_blank">
        <div class="mainText">О нас</div>
      </a>
    </div>
    <div class="burger" on:click={toggleMobileMenu}><Burger /></div>
  </div>
</header>
{#if isMobileMenuOpen}
  <div class="mobileMenu" transition:slide|local>
    <div class="close" on:click={toggleMobileMenu}><Close /></div>
    <Logo />
    <div class="links">
      <a href="https://dreamapp.screenlife.com/" target="_blank">
        <div class="mainText">Dreamapp</div>
      </a>
      <a href="https://screenlifer.com/category/projects/" target="_blank">
        <div class="mainText">Проекты</div>
      </a>
      <a href="https://screenlifer.com/category/tools/" target="_blank">
        <div class="mainText">Школа</div>
      </a>
      <a href="https://screenlifer.com/o-nas/" target="_blank">
        <div class="mainText">О нас</div>
      </a>
    </div>
  </div>
{/if}

<style>
  .mobileMenu {
    display: none;
  }
  header {
    padding: 0 32px 0 32px;
  }
  .container {
    max-width: 940px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #ffffff;
    padding: 32px 0 20px 0;
  }
  .menu {
    display: flex;
  }

  .menu a {
    position: relative;
    font-size: 16px;
    line-height: 150%;
    color: #ffffff;
    text-decoration: none;
    margin-left: 64px;
    white-space: nowrap;
  }
  .menu a:hover {
    color: var(--accent);
  }
  .burger {
    display: none;
  }
  @media screen and (max-width: 768px) {
    .menu {
      display: none;
    }
    .burger {
      display: block;
    }
    .mobileMenu {
      background-color: black;
      position: fixed;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      z-index: 100;
      display: flex;
      flex-direction: column;
      align-items:center;
    }
    .links a {
      font-size: 16px;
      line-height: 150%;
      color: #ffffff;
      text-decoration: none;
      margin-bottom: 32px;
      white-space: nowrap;
    }
    .links a:hover {
      color: var(--accent);
    }
    .close{
      align-self: flex-end;
      padding-top:22px;
      padding-right:16px;
      box-sizing: border-box;
      margin-bottom: 24px;
    }
    .links{
      flex-grow: 1;
      display: flex;
      flex-direction: column;
      justify-content:center;
      align-items: center;
    }
  }
  @media screen and (max-width: 425px) {
    header {
      padding: 0 16px 0 16px;
    }
    .container {
      padding: 16px 0 16px 0;
    }
    
  }
</style>
