<script>
    const images = [
'./images/series.jpg',
'./images/fb/commonFriend.png',
'./images/fb/avatar.png',
'./images/fb/icons/Gear.png',
'./images/fb/icons/Plus.png',
'./images/fb/icons/bell.png',
'./images/fb/icons/Main.png',
'./images/fb/icons/сhevrone.png',
'./images/fb/icons/home.png',
'./images/fb/icons/shop.png',
'./images/fb/icons/Arrow.png',
'./images/fb/icons/dots.png',
'./images/fb/icons/List.png',
'./images/fb/icons/triangle.png',
'./images/fb/icons/friends.png',
'./images/fb/icons/messenger.png',
'./images/fb/icons/video.png',
'./images/fb/icons/Gift.png',
'./images/fb/icons/gang.png',
'./images/fb/friends/14.png',
'./images/fb/friends/01.png',
'./images/fb/friends/15.png',
'./images/fb/friends/03.png',
'./images/fb/friends/17.png',
'./images/fb/friends/16.png',
'./images/fb/friends/02.png',
'./images/fb/friends/06.png',
'./images/fb/friends/12.png',
'./images/fb/friends/13.png',
'./images/fb/friends/07.png',
'./images/fb/friends/11.png',
'./images/fb/friends/05.png',
'./images/fb/friends/04.png',
'./images/fb/friends/10.png',
'./images/fb/friends/21.png',
'./images/fb/friends/09.png',
'./images/fb/friends/08.png',
'./images/fb/friends/20.png',
'./images/fb/friends/22.png',
'./images/fb/friends/23.png',
'./images/fb/friends/18.png',
'./images/fb/friends/24.png',
'./images/fb/friends/19.png',
'./images/quiz/thinking_girl.jpg',
'./images/quiz/man_with_phone.jpg',
'./images/quiz/background.jpg',
'./images/quiz/thinking_man.jpg',
'./images/quiz/pencil.jpg',
'./images/quiz/surprised_man.jpg',
'./images/quiz/man_with_tab.jpg',
'./images/spamhell/desktop.png',
'./images/spamhell/banners/Group423.png',
'./images/spamhell/banners/Group322.png',
'./images/spamhell/banners/Group323.png',
'./images/spamhell/banners/Group321.png',
'./images/spamhell/banners/Group255.png',
'./images/spamhell/banners/Group308.png',
'./images/spamhell/banners/Group320.png',
'./images/spamhell/banners/Group318.png',
'./images/spamhell/banners/Group324.png',
'./images/spamhell/banners/Group278.png',
'./images/spamhell/banners/Group279.png',
'./images/spamhell/banners/Group325.png',
'./images/spamhell/banners/Group284.png',
'./images/spamhell/banners/Group326.png',
'./images/spamhell/banners/Group263.png',
'./images/spamhell/banners/Group277.png',
'./images/spamhell/banners/Group315.png',
'./images/spamhell/banners/Group311.png',
'./images/spamhell/banners/Group259.png',
'./images/spamhell/banners/Group265.png',
'./images/spamhell/banners/Group264.png',
'./images/spamhell/banners/Group310.png',
'./images/spamhell/banners/Group267.png',
'./images/spamhell/banners/Group307.png',
'./images/spamhell/banners/Group313.png',
'./images/burger/cucumba.png',
'./images/burger/topburger.png',
'./images/burger/tiktokcats.png',
'./images/burger/bottomburger.png',
'./images/burger/onion.png',
'./images/burger/beacon.png',
'./images/burger/tomato.png',
'./images/burger/burgeringridients.png',
'./images/burger/burgerlogo.png',
'./images/burger/tiktok.png',
'./images/burger/cheese.png',
'./images/burger/salad.png',
'./images/burger/asmr.png',
'./images/burger/button.png',
'./images/series1.jpg',
'./images/og.jpg',
'./images/series2.jpg',
'./images/series3.jpg',
'./images/instagram/gallery-girl.png',
'./images/instagram/icons/flash-icon.png',
'./images/instagram/icons/chevrone.png',
'./images/instagram/icons/download.png',
'./images/instagram/icons/music.png',
'./images/instagram/icons/meta.png',
'./images/instagram/icons/grid.png',
'./images/instagram/icons/disabled-night-mode.png',
'./images/instagram/icons/options.png',
'./images/instagram/icons/effects.png',
'./images/instagram/icons/sticker.png',
'./images/instagram/icons/curve.png',
'./images/instagram/icons/text.png',
'./images/instagram/icons/flip-camera.png',
'./images/instagram/icons/close.png',
'./images/instagram/photos/4.png',
'./images/instagram/photos/5.png',
'./images/instagram/photos/6.png',
'./images/instagram/photos/2.png',
'./images/instagram/photos/3.png',
'./images/instagram/photos/1.png',
'./images/instagram/photos/0.png',
'./images/instagram/masks/4.png',
'./images/instagram/masks/5.png',
'./images/instagram/masks/6.png',
'./images/instagram/masks/2.png',
'./images/instagram/masks/3.png',
'./images/instagram/masks/1.png',
'./images/instagram/masks/0.png',
'./images/series6.jpg',
'./images/series4.jpg',
'./images/series5.jpg',
'./images/vote/motivated.jpeg',
'./images/vote/motivated_true.jpeg',
'./images/vote/motivated_false.jpeg',
]
</script>
<svelte:head>
    {#each images as image}
    <link rel="preload" as="image" href={image} />
    {/each}
</svelte:head>
