<script>
  import {isPolicyOpen} from '../store'
  const openPolicy = (e)=>{
    e.preventDefault();
    $isPolicyOpen=true;
  }
</script>
<footer class="wrapper">
  <div class="container">
    <div class="copyright">All Rights Reserved Copyright © 2010-2021 Screenlifer</div>
    <div class="links">
      <a href="https://forms.gle/8KdRRJWJKDFPyt918" target="_blank">Есть похожие идеи? Подать заявку!</a>
      <!-- <a href="/" on:click={openPolicy}>Условия использования</a>
      <a href="/" on:click={openPolicy}>Контакты</a> -->
    </div>
  </div>
</footer>

<style>
  .container {
    max-width: 940px;
    margin: 0 auto;
    border-top: 1px solid #ffffff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 24px 0;
  }
  .wrapper {
    padding: 0 32px 0 32px;

    margin-top: 80px;
  }
  .copyright {
    font-size: 12px;
    line-height: 14px;
    color: #b8b8b8;
  }
  .links a {
    font-size: 12px;
    line-height: 14px;
    text-decoration-line: underline;

    color: #ffffff;
    margin-left: 16px;
  }
  .links a:hover {
    color: rgba(255, 255, 255, 0.6);
  }
  @media screen and (max-width: 768px) {
    .container {
      padding: 24px 0;
      flex-direction: column-reverse;
    }
    .links a{
      margin: 0 8px;
    }
    .copyright{
      margin-top: 16px;
    }
  }
  @media screen and (max-width: 425px) {
    .wrapper {
      padding: 0 16px 0 16px;
      margin-top: 48px;
    }
    .links{
      display: flex;
      flex-direction: column;
      align-items: center;
    }
    .links a{
      margin-top: 8px;
    }
    .links a:first-child{
      margin-top: 0;
    }
    .copyright{
      text-align: center;
    }
  }
</style>
