<script>
  import Social from './Social/index.svelte'
</script>

<div class="container">
  <div class="interactive">
    <!-- <div class="dot" />
    <div class="interactiveText">Интерактивное видео</div>
    <div class="hint">
      <div class="triangle" />
      Переходите по ссылкам, копируйте текст<br />
      и многое другое — прямо в этой записи.
    </div> -->
  </div>
  <Social />
</div>

<style>
  .interactive {
    
    display: flex;
    align-items: center;
    position: relative;
    cursor: pointer;
  }
  .dot {
    min-width: 4px;
    min-height: 4px;
    max-width: 4px;
    max-height: 4px;
    border-radius: 50%;
    background-color: #02ff63;
    margin-right: 8px;
  }
  .interactiveText {
    font-size: 16px;
    line-height: 19px;
    color: #b8b8b8;
    text-decoration: dashed;
    border-bottom: 1px dashed;
  }
  .interactive:hover .hint {
    visibility: visible;
  }
  .hint {
    visibility: hidden;
    position: absolute;
    background: #363636;
    box-shadow: 0px -5px 20px rgba(0, 0, 0, 0.4);
    border-radius: 5px;
    padding: 10px 16px;
    left: 100%;
    bottom: -8px;
    white-space: nowrap;
    transform: translateX(10px);
    z-index: 99;
  }
  .triangle {
    position: absolute;
    position: absolute;

    border-top: 8px solid transparent;
    border-bottom: 8px solid transparent;
    border-right: 8px solid #363636;
    left: -8px;
    bottom: 10px;
  }
  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 24px;
  }
  @media screen and (max-width: 600px) {
    .interactive{
      display: none;
    }
    .container{
      margin-top: 8px;
    }
  }
</style>
