<script>
  import Header from './components/Header/index.svelte'
  import About from './components/About/index.svelte'
  import Player from './components/Player/index.svelte'
  import Slider from './components/Slider/index.svelte'
  import Series from './components/Series/index.svelte'
  import AllSeries from './components/AllSeries/index.svelte'
  import Footer from './components/Footer/index.svelte'
  import Policy from './components/Policy/index.svelte'
  import Authors from './components/Authors/index.svelte'
  import Cookie from './components/Cookie/index.svelte'
  // import Preload from './components/Preload/index.svelte'
  // import Audio from './components/Audio/index.svelte'
</script>

<svelte:head>
  <!-- <link href="//amp.azure.net/libs/amp/latest/skins/amp-default/azuremediaplayer.min.css" rel="stylesheet" />
  <script src="//amp.azure.net/libs/amp/latest/azuremediaplayer.min.js"></script> -->
  <link href="./azure/azuremediaplayer.min.css" rel="stylesheet" />
  <script src="./azure/azuremediaplayer.min.js"></script>
</svelte:head>
<div>
  <Header />
  <About />
  <Player />
  <div class="wrapper">
    <Slider />
    <Series />
  </div>
  <Authors />
  <AllSeries />
  <Footer />
  <Policy/>
  <Cookie/>
</div>
<!-- <Preload/>
<Audio/> -->
<style>
	@media screen and (max-width: 425px) {
		.wrapper{
			display: flex;
			flex-direction: column-reverse;
		}
	}

</style>
