<script>
  import { activeSeries } from '../store'
</script>

{#if $activeSeries.authors}
  <div class="wrapper">
    <div class="container">
      <div class="title">Над проектом работали:</div>
      <div class="names">{@html $activeSeries.authors}</div>
    </div>
  </div>
{/if}

<style>
  .container {
    max-width: 940px;
    margin: 0 auto;
  }
  .wrapper {
    padding: 0 32px 0 32px;
    margin-top: 80px;
  }
  .title {
    font-size: 21px;
    line-height: 25px;
    margin-top: 80px;
  }
  .names {
    font-size: 16px;
    line-height: 150%;
    margin-top: 24px;
    color: #b8b8b8;
  }
  .names :global(b) {
    color: white;
  }
  @media screen and (max-width: 425px) {
    .wrapper {
      padding: 0 16px 0 16px;
      margin-top: 48px;
    }
    .title {
      font-size: 12px;
      line-height: 14px;
      color: #b8b8b8;
      margin-top: 40px;
    }
    .names{
        margin-top: 8px;
    }
  }
</style>
