<svg width="13" height="34" viewBox="0 0 13 34" fill="none" xmlns="http://www.w3.org/2000/svg">
  <path d="M12 33L2 17L12 1" stroke="white" stroke-width="2" />
</svg>

<style>
  svg {
    margin-top: 40px;
    margin-right: 16px;
    display: inline-block;
  }
</style>
