<svg width="13" height="34" viewBox="0 0 13 34" fill="none" xmlns="http://www.w3.org/2000/svg">
  <path d="M1 33L11 17L0.999997 1" stroke="white" stroke-width="2" />
</svg>
<style>
  svg {
    margin-top: 40px;
    margin-left: 16px;
    display: inline-block;
  }
</style>