<script>
  import {onMount} from 'svelte'
  import items from '../items'
  import ListItem from '../ListItem/index.svelte'
  import LeftArrow from './LeftArrow.svelte'
  import RightArrow from './RightArrow.svelte'
  import { setSeries, activeSeriesIndex } from '../store'
  let activeIndex = 0
  let ITEM_WIDTH = 25
  $: visibleCount = Math.round(100 / ITEM_WIDTH)
  $: lasItemVisible = items.length - visibleCount - activeIndex <= 0
  const changeActiveIndex = (direction) => {
    if (activeIndex === 0 && direction === -1) {
      return
    }
    if (lasItemVisible && direction === 1) {
      return
    }

    activeIndex += direction
  }
   onMount(() => {
    activeIndex = $activeSeriesIndex;
   })
</script>

<div class="container">
  <div class="leftArrow arrow" on:click={() => changeActiveIndex(-1)} class:disabled={activeIndex === 0}>
    <LeftArrow />
  </div>
  <div class="wrapper">
    <div class="slider" style={`transform: translateX(${activeIndex * ITEM_WIDTH * -1}%);`}>
      {#each items as item, i}
        <ListItem {item} {i} onClick={setSeries} />
      {/each}
    </div>
  </div>
  <div class="rightArrow arrow" on:click={() => changeActiveIndex(1)} class:disabled={lasItemVisible}>
    <RightArrow />
  </div>
</div>

<style>
  .slider {
    transition: transform 0.3s ease-in-out;
    display: flex;
    margin: 0 -20px -40px 0;
  }
  .wrapper {
    max-width: 940px;
    overflow: hidden;
    flex-grow: 1;
  }
  .arrow {
    display: flex;
    opacity: 0.7;
    cursor: pointer;
  }
  .arrow.disabled,
  .arrow.disabled:hover {
    opacity: 0.3;
  }
  .arrow:hover {
    opacity: 1;
  }
  .container {
    display: flex;
    justify-content: center;
  }
  .leftArrow {
    justify-content: flex-end;
  }
  .rightArrow {
    justify-content: flex-start;
  }
  @media screen and (max-width: 768px) {
    .arrow {
      display: none;
    }
    .wrapper {
      overflow-x: auto;
      max-width: 940px;
      padding: 0 32px;
    }
    .wrapper::-webkit-scrollbar {
      display: none;
    }
    .wrapper {
      -ms-overflow-style: none; /* IE and Edge */
      scrollbar-width: none; /* Firefox */
    }
  }
  @media screen and (max-width: 425px) {
    .wrapper{
      padding: 0 16px;
    }
  }
</style>
